@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: Axiforma;
    font-weight: 300;
    src: url(/assets/fonts/Axiforma/Axiforma-Book.woff) format("woff");
  }
  @font-face {
    font-family: Axiforma;
    font-weight: 400;
    src: url(/assets/fonts/Axiforma/Axiforma-Regular.woff) format("woff");
  }
  @font-face {
    font-family: Axiforma;
    font-weight: 500;
    src: url(/assets/fonts/Axiforma/Axiforma-Medium.woff) format("woff");
  }
  @font-face {
    font-family: Axiforma;
    font-weight: 600;
    src: url(/assets/fonts/Axiforma/Axiforma-SemiBold.woff) format("woff");
  }
  @font-face {
    font-family: Axiforma;
    font-weight: 700;
    src: url(/assets/fonts/Axiforma/Axiforma-Bold.woff) format("woff");
  }
  @font-face {
    font-family: Axiforma;
    font-weight: 800;
    src: url(/assets/fonts/Axiforma/Axiforma-ExtraBold.woff) format("woff");
  }

  body{
    background: url('../images/bg-header.svg');
    background-position: top center;
    background-repeat: no-repeat;

    font-family: Axiforma;
  }

  /* typography */
  /* 700 */
  h1{
    font-size:42px;
    line-height: 150%;
  }
  /* 800 */
  h2{
    font-size: 40px;
    line-height: 150%;
  }
  /* 700 */
  h3{
    font-size: 24px;
    line-height: 170%;
  }
  /* 600 */
  h4{
    font-size: 20px;
    line-height: 150%;
  }
  /* 600 */
  h5{
    font-size: 18px;
    line-height: 170%;
  }
  h6{}

  /* 400 */
  .body-1{
    font-size: 20px;
    line-height: 150%;
  }
  .body-2{
    font-size: 16px;
    line-height: 170%;
  }
  .label-1{
    font-size: 16px;
  line-height: 150%;
  }
  .label-2{
    font-size: 14px;
    line-height: 170%;
  }
  /* 300 */
  .label-3{
    font-size: 18px;
    line-height: 150%;
  }

  
}

@layer components{
  
}

@layer utilities{
  
}

section.hero .text-wrap{
  max-width: 686px;
}
section.hero .body-2{
  max-width: 387px;
}

.box-owner{
  max-width: 119px;
  box-shadow: 0px 38px 55px -19px rgba(0, 0, 0, 0.09);
}
.wrap-box{
  max-width: 225px;
}
.fund-wrap{
  background: linear-gradient(135.34deg, #61D5DB 1.86%, #3CB2B8 98.15%);
  box-shadow: 0px 120px 89px -38px rgba(0, 0, 0, 0.11);
  border-radius: 48px;
}
.story-wrap{
  background: linear-gradient(135.34deg, #FFFFFF 1.86%, #FFFFFF 98.15%);
  box-shadow: 0px 38px 120px -15px #D9DDE4;
  border-radius: 30px;
  max-width: 367px;
}
.empower-wrap{
  background: linear-gradient(135.34deg, #FFFFFF 1.86%, #FFFFFF 98.15%);
  box-shadow: 0px 120px 89px -38px rgba(0, 0, 0, 0.04);
  border-radius: 48px;
}
section.footer .label-1{
  line-height: 246.5%;
}


section.about .img-shadow{
  box-shadow: 0px 80px 137px -32px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
section.our-story .text-wrap{
  max-width: 1115px;
}
.values-shadow{
  box-shadow: 0px 38px 55px -19px rgba(0, 0, 0, 0.09);
}